# IntelliJ files
.idea/
*.iml

# Java build files
*.class
*.jar
*.war

# Logs
*.log

# Sistema de conexão com banco
src/database/db.properties
/out/

# Arquivos temporários ou sensíveis
*.log
*.tmp
*.db